
@font-face {
    font-family: 'Mortend-light';
    src: url('../fonts/mortend-extended/MortendExtended-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Mortend-regular';
    src: url('../fonts/mortend-extended/MortendExtended-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mortend-bold';
    src: url('../fonts/mortend-extended/MortendExtended-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Mortend-extrabold';
    src: url('../fonts/mortend-extended/MortendExtended-Extrabold.ttf') format('truetype');
}

@font-face {
    font-family: 'Mortend-outline';
    src: url('../fonts/mortend-extended/MortendExtended-Extrabold-Outline.ttf') format('truetype');
}

@font-face {
    font-family: 'Neusa-light';
    src: url('../fonts/neusa-next/NeusaNext-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Neusa-regular';
    src: url('../fonts/neusa-next/NeusaNext-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Neusa-medium';
    src: url('../fonts/neusa-next/NeusaNext-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Neusa-bold';
    src: url('../fonts/neusa-next/NeusaNext-Bold.otf') format('opentype');
}
